.App {
 max-width: 400px;
 min-height: 450px;
 margin: 0 auto;
 background-color: lightgray;
 opacity: 0.8;
 margin-top: 200px;
 box-shadow: 0 0 4px grey;
 padding: 15px 50px;
  
 }
.title{
  color: #03396c;
  text-align: center;

}
.block1{
  text-align: center;
  
}
.expense-counter{
  display: flex;
  justify-content: space-around;
  background-color:white;
}
.form-container input{
  width: 100%;
}
.add-button{
  margin-left: 4px;
}